.tags-list {
    position: relative;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tags-list.mobile {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    background: rgb(241, 241, 241);
    max-width: 168px;
    align-items: flex-end;
    margin: auto;
}

.tags-list.mobile .tag-item {
    width: 100%;
    margin-right: 0;
    padding-left: 35px;
    padding-right: 10px;
}

.tags-list.mobile .tag-item.active {
    padding-left: 10px;
}

@media (max-width: 800px) {
    .tags-list {
        display: none;
    }
}

.hamburger {
    display: none;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    background: rgb(241, 241, 241);
    align-items: center;
    justify-content: flex-start;
    color: rgb(110, 110, 110);
    text-transform: uppercase;
    margin: 0 auto;
}

.hamburger.hidden {
    display: none;
}

@media (max-width: 800px) {
    .hamburger {
        display: inline-flex;
    }
}

.hamburger .line{
    width: 18px;
    height: 3px;
    background-color: rgb(117, 117, 117);
    display: block;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger div:first-child {
    margin-right: 10px;
}
