.section {
    box-sizing: border-box;
    padding: 50px 28px;
    margin: 0 auto;
    margin-bottom: 40px;
    background: white;
    border-radius: 10px;
}

.section.section-flex{
    display: flex;
}

.section.section-alt {
    padding-bottom: 0;
}

.section-alt {
    padding-bottom: 0;
}

.section-relative {
    position: relative;
}

@media (max-width: 768px) {
    .section {
        padding-right: 10px;
        padding-left: 10px;
    }
}
